<div class="card card-body mb-3">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <input type="text" class="form-control" name="title" [(ngModel)]="title" placeholder="Add a Title...">
    </div>
    <textarea class="form-control" rows="5" cols="100" placeholder="Add a Text..." name="body" [(ngModel)]="body"></textarea>
    <input type="submit" value="Add a Post" class="btn btn-success mt-3" [disabled]="!this.title">
    <button (click)="clearState()" type="button" class="btn btn-warning mt-3" [hidden]="!this.title">Clear</button>
  </form>
</div>